footer.footer
    .footer_wrapper
        br
        br
        span.span_logo #{siteName}
        br
        br
        .footer_column
            a.footer_ref(href=routes.home)
                span.span_home Home             
            a.footer_ref(href=routes.home)
                span.span_home Our Story                
        .footer_column
            a.footer_ref(href="https://www.facebook.com/")
                span
                    i.fab.fa-facebook                   
            a.footer_ref(href="https://www.instagram.com/")
                span
                    i.fab.fa-instagram
        .footer_column
            a.footer_ref(href=routes.home)
                span.span_home Contact             
            a.footer_ref(href=routes.home)
                span.span_home FAQ   

