extends ./layouts/main.pug
block content
    .img_form
        .img_detail
            img.img(src=clothes[0].fileUrl height=100 weight=100)
        .span_img_text
            .span_text_object
                span 색상
                span.data #{clothes[0].color}
            .span_text_object
                span 대분류
                span.data #{clothes[0].category}
            .span_text_object
                span 소분류
                span.data  #{clothes[0].category_detail}
            .span_text_object
                span 계절
                span.data #{clothes[0].season}
    .button_form
        button.edit
            a(href=routes.edit_clothes_info(loggedUser._id,clothes[0]._id))|정보변경하기
        button.edit
            a(href=routes.edit_clothes_img(loggedUser._id,clothes[0]._id))|사진변경하기
        button.edit
            a(href=routes.edit(loggedUser._id))|편집창으로