extends ./layouts/main.pug
block content
    .img_form
        .img_detail_cody
            img.img(src=cody.fileUrl,height=1000,weight=1000)
        .span_img_text
            .span_text_object
                span 계절 
                span.data #{cody.season}
            .span_text_object
                span 아우터 
                span.data  #{cody.outer_color}  #{cody.outer_category_detail}
            .span_text_object
                span 상의 
                span.data #{cody.top_color}  #{cody.top_category_detail}
            .span_text_object            
                span 하의 
                span.data  #{cody.bottom_color} #{cody.bottom_category_detail}
            .span_text_object
                span 신발 
                span.data  #{cody.shoes_color}  #{cody.shoes_category_detail}
    .button_form    
        button.edit
            if(prev_cody_id === null)
                a
                    i.fas.fa-arrow-left  
            else
                a(href=routes.cody_detail(prev_cody_id))
                    i.fas.fa-arrow-left  
        button.edit
            a(href=routes.cody_edit(cody.id))|정보수정하기
        button.edit
            a(href=routes.show_cody)|코디창으로
        button.edit
            a(href=cody.link)|무신사페이지로
        button.edit
            if(next_cody_id === null)
                a
                    i.fas.fa-arrow-right
            else
                a(href=routes.cody_detail(next_cody_id))
                    i.fas.fa-arrow-right          