extends ./layouts/main.pug
include mixins/clothesBlock
block content    
    .myCloset
        .summerClothes
            a(href=routes.summer_closet(loggedUser._id))|여름
        .winterClothes
            a(href=routes.winter_closet(loggedUser._id))|겨울
        .springFallClothes
            a(href=routes.springfall_closet(loggedUser._id))|봄'가을
        .shoes 
            a(href=routes.shoes_closet(loggedUser._id))|신발
    .button_form(id=ClosetButton)
        button.edit
            a(href=routes.upload(loggedUser._id)) 등록하기
        button.edit
            a(href=routes.edit(loggedUser._id)) 편집하기                    