extends layouts/main.pug
block content
    .user-profile
        .span_text
            .span_text_object
                span 이름
                span.data=`${loggedUser.name}`
            .span_text_object
                span 이메일
                span.data=`${loggedUser.email}`
            .span_text_object
                span 주소
                span.data=`${loggedUser.address}`
    .button_form    
        button.edit
            a(href=routes.edit_profile(loggedUser._id))
                span 수정하기
        button.edit
            a(href=routes.change_password)
                span 비밀번호 변경하기